@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.75rem;
    --mystical-purple: #8B5CF6;
    --deep-indigo: #4338CA;
    --starlight: #E2E8F0;
    --mystic-dark: #1E1B4B;
  }
 
  body {
    background-color: black;
  }

  .mystical-text {
    font-family: 'Cinzel', serif;
  }
  
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
 
::-webkit-scrollbar-track {
  background: transparent;
}
 
*::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 4px;
}
 
@supports (not selector(::-webkit-scrollbar)) {
  html {
    scrollbar-color: #d9d9d9 #ffffff;
    scrollbar-width: 4px;
  }
}
 